@model IndexVm
@{
    ViewData["Title"] = "Home Page";
    var userName = Model.UserName;
}


<input hidden id="user" value="@userName"/>

<div>
    <h1>Witaj @userName</h1>
</div>

<div class="container-md">
    <main role="main" class="pb-3">
        <div class="chat-container">
            <div class="messages">
                <ul id="messages" class="list-unstyled">
                    @foreach (var message in Model.Messages.OrderBy(m => m.CreatedOn))
                    {
                        <li><strong>[@message.CreatedOn.ToString("dd/MM/yyyy HH:mm")], @message.UserName</strong>: @message.Message</li>
                    }
                    <li class="list-unstyled" id="userMessages"></li>
                </ul>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Wiadomość..." class="form-control" id="userMessage"/>
                <button type="button" id="btnSend">Wyślij</button>
            </div>
        </div>
    </main>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="js/chatApp.js"></script>
    <script>
        $(document).ready(function() {
            var messagesDiv = $('.messages');
            messagesDiv.scrollTop(messagesDiv.prop("scrollHeight"));
        });
    </script>
}
